@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model _2280600691_NguyenDinhDo.Models.Category

<h2>Chi tiết danh mục</h2>

<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Tên danh mục:</strong> @Model.Name</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Sửa</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Xóa</a>
