@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model _2280600691_NguyenDinhDo.Models.Category

<h2>Sửa danh mục</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Name">Tên danh mục:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</form>
